{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="hero">
    <div class="hero-left">
        <h1>Creativity <br> Masterclass</h1>

        <p class="sub-text">30 Days Money Back Guarantee.</p>

        <p class="desc">
            Enroll yourself now. Just drop your email-id here and our team
            will contact you with class details.
        </p>

        <form class="email-box">
            <input type="email" placeholder="Your E-mail here">
            <button type="submit">SUBMIT</button>
        </form>
    </div>

    <!-- RIGHT SIDE (NO IMAGE) -->
    <div class="hero-right">
        <div class="circle big"></div>
        <div class="circle small"></div>

        <div class="floating-icons">
            <span class="icon">Ps</span>
            <span class="icon">Ai</span>
            <span class="icon">Xd</span>
            <span class="icon">Ae</span>
        </div>
    </div>
</section>

<section class="brands">
    <p>Trusted by over <span>10,000</span> Companies</p>

    <div class="brand-logos">
        <span>Facebook</span>
        <span>Google</span>
        <span>Amazon</span>
        <span>Microsoft</span>
        <span>LinkedIn</span>
    </div>
</section>

{% endblock %}